{% load static %}
<!-- mobilemenu -->
	<div class="mobilemenu">
		<div class="mobilemenu__backdrop"></div>
		<div class="mobilemenu__body">
			<div class="mobilemenu__header">
				<div class="mobilemenu__title">منو</div>
				<button type="button" class="mobilemenu__close">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<div class="mobilemenu__content">
				<ul class="mobile-links mobile-links--level--0" data-collapse
					data-collapse-opened-class="mobile-links__item--open">
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title">
							<a href="{% url 'main:home' %}" class="mobile-links__item-link">خانه</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<i class="fa fa-home"></i>
							</button>
						</div>
					</li>
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title"><a href="{% url 'product:category' None %}" class="mobile-links__item-link">دسته ها</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<i class="fa fa-list"></i>
							</button>
						</div>
						<div class="mobile-links__item-sub-links" data-collapse-content>
							<ul class="mobile-links mobile-links--level--1">
								{% for category in navbar_categories %}
									{% if not category.parent %}
									<li class="mobile-links__item" data-collapse-item>
										<div class="mobile-links__item-title">

										<a href="{{ category.get_absolute_url }}" class="mobile-links__item-link">{{ category.title }}</a>

										{% if category.children.all %}
											<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
												<i class="fa fa-angle-double-down"></i>
											</button>
										{% endif %}
										</div>
										{% if category.children.all %}
											<div class="mobile-links__item-sub-links" data-collapse-content>
												<ul class="mobile-links mobile-links--level--2">
													{% for child in category.children.all %}
														<li class="mobile-links__item" data-collapse-item>
															<div class="mobile-links__item-title">
																	<a href="{{ child.get_absolute_url }}" class="mobile-links__item-link">{{ child.title }}</a>
															</div>
														</li>
													{% endfor %}
												</ul>
											</div>
										{% endif %}

									</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</li>

					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title">
							<a href="{% url 'dashboard:dashboard' %}" class="mobile-links__item-link">حساب
								کاربری
							</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<i class="fa fa-user"></i>
							</button>
						</div>
						<div class="mobile-links__item-sub-links" data-collapse-content>
							<ul class="mobile-links mobile-links--level--1">
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title">
										<a href="{% url 'accounts:login' %}" class="mobile-links__item-link">ورود</a>
									</div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title">
										<a href="{% url 'accounts:register' %}" class="mobile-links__item-link">ثبت نام</a>
									</div>
								</li>

							</ul>
						</div>
					</li>
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title">
							<a href="{% url 'blog:blog' %}" class="mobile-links__item-link">بلاگ</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<i class="fa fa-newspaper"></i>
							</button>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- mobilemenu / end -->
	<!-- site -->

	<div class="site">

		<!-- mobile site__header -->
		<header class="site__header d-lg-none">
			<div class="mobile-header mobile-header--sticky mobile-header--stuck">
				<div class="mobile-header__panel">
					<div class="container">
						<div class="mobile-header__body">
							<button class="mobile-header__menu-button">
								<i class="fa fa-bars "></i>
							</button>
							<a class="mobile-header__logo" href="index.html">
								<img src="images/logo.png" alt="">
							</a>
							<div class="mobile-header__search">
								<form class="mobile-header__search-form" action="">
									<input class="mobile-header__search-input" name="search"
										placeholder="جستجو از میان 10,000 محصول" aria-label="Site search" type="text"
										autocomplete="off">
									<button class="mobile-header__search-button mobile-header__search-button--submit"
										type="submit">
										<i class="fa fa-search"></i>
									</button>
									<button class="mobile-header__search-button mobile-header__search-button--close"
										type="button">
										<i class="fa fa-times"></i>
									</button>
									<div class="mobile-header__search-body"></div>
								</form>
							</div>
							<div class="mobile-header__indicators">
								<div class="indicator indicator--mobile-search indicator--mobile d-sm-none">
									<button class="indicator__button"><span class="indicator__area">
											<i class="fa fa-search"></i>
										</span></button>
								</div>
								<div class="indicator indicator--mobile d-sm-flex d-none">
									<a href="wishlist.html"	class="indicator__button">
										<span class="indicator__area">
											<i class="fa fa-heart"></i>
											<span class="indicator__value">0</span>
										</span>
									</a>
								</div>
								<div class="indicator indicator--mobile d-sm-flex d-none">
									<a href="wishlist.html"	class="indicator__button">
										<span class="indicator__area">
											<i class="fa fa-heart"></i>
											<span class="indicator__value">0</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- mobile site__header / end -->

		<!-- desktop site__header -->
		<header class="site__header d-lg-block d-none">
			<div class="site-header">

				<!-- .topbar -->
				<div class="site-header__topbar topbar">
					<div class="topbar__container container">
						<div class="topbar__row">
							{% comment %} <div class="topbar__item topbar__item--link"><a class="topbar-link"
									href="../about-us.html">درباره ما</a>
							</div>
							<div class="topbar__item topbar__item--link"><a class="topbar-link"
									href="../contact-us.html">تماس با ما</a>
							</div> {% endcomment %}

							<div class="topbar__spring"></div>
							<div class="topbar__item">
								<div class="topbar-dropdown">
									<button class="topbar-dropdown__btn" type="button">
										<a href="{% url 'dashboard:dashboard' %}" class="topbar-link">
											<i class="fa fa-user"></i>
											{% if request.user.is_authenticated %}
											{{ request.user.first_name }}&nbsp;خوش آمدید
											{% else %}
											پنل کاربری
											{% endif %}
										</a>

									</button>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="site-header__middle container">
					<div class="site-header__logo">
						<a href="index.html">
							<img src="images/logo.png" alt="">
						</a>
					</div>
					<div class="site-header__search">
						<div class="search">
							<form class="search__form" action="">
								<input class="search__input" name="search" placeholder="جستجو از میان 10,000 محصول"
									aria-label="Site search" type="text" autocomplete="off">
								<button class="search__button" type="submit">
									<i class="fa fa-search"></i>
								</button>
								<div class="search__border"></div>
							</form>
						</div>
					</div>
					<div class="site-header__phone">
						<div class="site-header__phone-title">پشتیبانی</div>
						<div class="site-header__phone-number"><span class="ltr_text">0920-150-2830</span></div>
					</div>
				</div>
				<!-- .topbar / end -->
				<div class="site-header__nav-panel">
					<div class="nav-panel">
						<div class="nav-panel__container container">
							<div class="nav-panel__row">
								<div class="nav-panel__logo">
									<a href="index.html">
										<img src="images/shopLogo.png" alt="">
									</a>
								</div>
								<!-- .nav-links -->
								<div class="nav-panel__nav-links nav-links">
									<ul class="nav-links__list">
										<li class="nav-links__item nav-links__item--with-submenu">
											<a href="{% url 'main:home' %}">
												<span><i class="{% url 'main:home' %}"></i>&nbsp; خانه</span>
											</a>
										</li>
										<li class="nav-links__item nav-links__item--with-submenu">
											<a href="{% url 'product:category' None %}">
												<span>
													دسته بندی کالاها
													&nbsp;
													<i class="fa fa-angle-down"></i>
												</span>
											</a>
											<div class="nav-links__megamenu nav-links__megamenu--size--xl">
												<!-- .megamenu -->
												<div class="megamenu">
													<div class="row">
														{% for category in navbar_categories %}
															{% if not category.parent %}
																<div class="col-3">
																	<ul class="megamenu__links megamenu__links--level--0">
																		<li class="megamenu__item megamenu__item--with-submenu">
																			<li class="megamenu__links--level--2">
																				<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>

																			{% if category.children.all %}
																			<ul class="megamenu__links megamenu__links--level--1" style="border-top: 1px solid #e5e5e5;">
																				{% for child in category.children.all %}
																					<li class="megamenu__item">

																						<a href="{{ child.get_absolute_url }}">{{ child.title }}</a>

																						{% if child.children.all %}
																							<ul>
																								{% for second_child in child.children.all %}
																									<li class="megamenu__links--level--2">
																											<a href="{{ second_child.get_absolute_url }}">{{ second_child.title }}</a>
																									</li>
																								{% endfor %}
																							</ul>
																						{% endif %}

																					</li>
																					{% endfor %}
																				</ul>
																			{% endif %}
																		</li>
																	</ul>
																</div>
															{% endif %}
														{% endfor %}
													</div>
												</div>
												<!-- .megamenu / end -->
											</div>
										</li>

										<li class="nav-links__item nav-links__item--with-submenu">
											{% if request.user.is_authenticated %}
											<a href="{% url 'dashboard:dashboard' %}">
												<span>
													<i class="fa fa-user"></i>&nbsp;حساب کاربری
												</span>
											</a>
											{% else %}
											<a href="#">
												<span>
													حساب کاربری&nbsp;<i class="fa fa-angle-down"></i>
												</span>
											</a>
											<div class="nav-links__menu">
												<!-- .menu -->
												<ul class="menu menu--layout--classic">
													<li><a href="{% url 'accounts:login' %}">ورود</a></li>
													<li><a href="{% url 'accounts:register' %}">ثبت نام</a></li>
												</ul>
												<!-- .menu / end -->
											</div>
											{%endif %}
										</li>
										<li class="nav-links__item nav-links__item--with-submenu">
											<a href="{% url 'blog:blog' %}">
												<span><i class="fa fa-newspaper"></i>&nbsp; بلاگ</span>
											</a>
										</li>

									</ul>
								</div>
								<!-- .nav-links / end -->
								<div class="nav-panel__indicators">
									<div class="indicator indicator--trigger--click">
										<button type="button" class="indicator__button">
											<span class="indicator__area">
												<i class="fa fa-plus"></i>
											</span>
										</button>
										<div class="indicator__dropdown">
											<div class="drop-search">
												<form action="" class="drop-search__form">
													<input class="drop-search__input" name="search"
														placeholder="جستجو از میان 10,000 محصول"
														aria-label="Site search" type="text" autocomplete="off">
													<button class="drop-search__button drop-search__button--submit"
														type="submit">
														<i class="fa fa-search"></i>
													</button>
												</form>
											</div>
										</div>
									</div>
									<div class="indicator">
										<a href="wishlist.html" class="indicator__button">
											<span class="indicator__area">
												<i class="fa fa-heart"></i>
												{% if request.user.is_authenticated %}
												<span class="indicator__value" id="wish-list-count">{{ request.user.favorites.all.count }}</span>
												{% else %}
												<span class="indicator__value" id="wish-list-count">0</span>
												{% endif %}
											</span>
										</a>
									</div>
									<div class="indicator">
										<a href="{% url 'product:cart' %}" class="indicator__button">
											<span class="indicator__area">
												<i class="fa fa-shopping-cart"></i>

												<span class="indicator__value" id="cart_count3">{{ cart_count }}</span>
												
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

	<!-- desktop site__header / end -->
