			<!-- .block-products-carousel -->
			<div class="block block-products-carousel" data-layout="grid-5">
				<div class="container">
					<div class="block-header">
						<h3 class="block-header__title">محصولات ویژه</h3>
						<div class="block-header__divider"></div>
						<ul class="block-header__groups-list">
							<li>
								<button type="button"
									class="block-header__group block-header__group--active">همه</button>
							</li>
                            {% for category in categories%}
							<li>
								<button type="button" class="block-header__group">{{ category.title }}</button>
							</li>
                            {% endfor %}
						</ul>
						<div class="block-header__arrows-list">
							<button class="block-header__arrow block-header__arrow--left" type="button">
								<i class="fas fa-angle-right"></i>
							</button>
							<button class="block-header__arrow block-header__arrow--right" type="button">
								<i class="fas fa-angle-left"></i>
							</button>
						</div>
					</div>
					<div class="block-products-carousel__slider">
						<div class="block-products-carousel__preloader"></div>
						<div class="owl-carousel owl-rtl owl-loaded owl-drag">

							<div class="owl-stage-outer">
								<div class="owl-stage"
									style="transform: translate3d(1120px, 0px, 0px); transition: all 0s ease 0s; width: 4034px; padding-left: 1px; padding-right: 1px;">
                                    
                                    {% for product in products %}
									<div class="owl-item active" style="width: 212px; margin-left: 12px;">
										<div class="block-products-carousel__column">
                                            {% include 'includes/product_box.html' %}
										</div>
									</div>
                                    {% endfor %}

                                </div>
							</div>
							<div class="owl-nav disabled"><button type="button" role="presentation"
									class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button"
									role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
							<div class="owl-dots disabled"></div>
						</div>
					</div>
				</div>
			</div>