<footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-end">قدرت گرفته توسط
            &copy; <a href="#" target="_blank">جواد</a>
          </div>
        </div>
        <div class="col-lg-5">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://appseed.us/product/soft-ui-dashboard-pro/django/" 
                 class="nav-link text-muted" target="_blank">آموزش‌ها</a>
            </li>
            <li class="nav-item">
              <a href="٫" class="nav-link text-muted" target="_blank">پشتیبانی</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </footer>
  