{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block content %}
<div class="site__body">
	<div class="page-header">
		<div class="page-header__container container">
			<div class="page-header__breadcrumb">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'main:home' %}">خانه</a>
							/
						</li>
						<li class="breadcrumb-item"><a href="">داشبورد</a>

						</li>

					</ol>
				</nav>
			</div>
			<div class="page-header__title">
				<h1>حساب کاربری</h1></div>
		</div>
	</div>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-3 d-flex">
					<div class="account-nav flex-grow-1">
						<h4 class="account-nav__title">ناوبری</h4>
						<ul>
							<li class="account-nav__item"><a href="{% url 'dashboard:dashboard' %}">داشبورد</a></li>
							<li class="account-nav__item"><a href="{% url 'dashboard:profile' %}">ویرایش پروفایل</a></li>
							<li class="account-nav__item"><a href="{% url 'dashboard:addresses' %}">آدرس های شما</a></li>
							<li class="account-nav__item"><a href="{% url 'dashboard:orders' %}">سفارشات شما</a></li>
							<li class="account-nav__item account-nav__item--active"><a href="{% url 'dashboard:returned_orders' %}">سفارشات مرجوعی</a></li>
							<li class="account-nav__item"><a href="{% url 'dashboard:password_change' %}">تغییر رمز عبور</a></li>
							<li class="account-nav__item"><a href="{% url 'accounts:logout' %}">خروج</a></li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-9 mt-4 mt-lg-0">
					<div class="card">
						<div class="card-header row">
							<div>
								<h5>سفارشات مرجوعی</h5>
							</div>
						</div>
						<div class="card-divider"></div>
						<div class="card-table">
							<div class="table-responsive-sm">
								<table>
									<thead>
										<tr>
											<th>سفارش</th>
											<th>تاریخ</th>
											<th>وضعیت</th>
											<th>جمع کل</th>
											<th>ویرایش</th>
										</tr>
									</thead>
									<tbody>
										{% if orders %}
											{% for order in orders %}
												<tr>
													<td><a href="{{ order.get_absolute_url }}">#{{ order.return_order_id }}</a></td>
													<td>{{ order.created_at|to_jalali:"%Y/%m/%d" }}</td>
													<td>مرجوعی</td>
													<td>{{ order.total_price }}&nbsp;برای&nbsp;{{ order.products.all.count }}&nbsp;محصول</td>
													<td><a href="{% url 'dashboard:edit_returned_order' order.order.id %}" class="btn btn-dark">ویرایش</a></td>
												</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td colspan="6" class="bg-warning text-center">موردی یافت نشد</td>
											</tr>
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-divider"></div>
						{% if orders %}
						<div class="products-view__pagination my-2">
							<ul class="pagination justify-content-center">
								{% if orders.has_previous %}
								<li class="page-item">
									<a class="page-link page-link--with-arrow" href="?page=1" aria-label="Previous">
										<svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px" height="13px">
											<use xlink:href="{% static 'images/sprite.svg#arrow-rounded-left-8x13' %}"></use>
										</svg>
									</a>
								</li>
								<li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">{{ orders.previous_page_number }}</a></li>
								{% endif %}
								<li class="page-item active"><a class="page-link" href="">{{ orders.number }}<span class="sr-only">(کنونی)</span></a></li>
								{% if orders.has_next %}
									<li class="page-item">
										<a class="page-link" href="?page={{ posts.next_page_number }}">{{ orders.next_page_number }}</a>
									</li>
									<li class="page-item">
									<a class="page-link page-link--with-arrow" href="?page={{ posts.paginator.num_pages }}" aria-label="Next">
										<svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px" height="13px">
											<use xlink:href="images/sprite.svg#arrow-rounded-right-8x13"></use>
										</svg>
									</a>
								</li>
								{% endif %}
							</ul>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
